
// Archivo de configuración .env.example
// Autor: Juliana Casas
//Descripción: Este archivo muestra las variables necesarias
//para configurar el entorno de ejecución y la conexión a la base de datos
//Solo debe completarse con los valores correctos y renombrarse a ".env"


# Entorno de ejecución
NODE_ENV=

# Puerto del servidor
PORT=

# Configuración de la base de datos MySQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_URL=
